<div class="flex flex-col p-4 bg-[#3FC1C9]" >
    <div *ngFor="let parcel of parcels "  class="flex flex-row m-4">
        <app-parcel-story (updateListWhenPutEvent)="EverywhereUpdateListWhenPutEvent($event)" [parcels]="parcels" [parcelStory]="parcel"></app-parcel-story>
        
    </div>
    <div>
        <app-parcel-story-edit *ngIf="userInformation" (click)="toggleModal()"  ></app-parcel-story-edit>
        <div *ngIf="!userInformation"> <p>Tu dois te connecter pour pouvoir éditer la suite de l'histoire</p></div>
    </div>
</div>
<app-parcel-story-edit-modal (updateListWhenPutEvent)="EverywhereUpdateListWhenPutEvent($event)" [showModal]="showModal" [userInformation]="userInformation" [stepInModal]="stepInModal"  [toggleModal]="toggleModal" [parcelStory]="parcelsLast" ></app-parcel-story-edit-modal>
