
    <div class="flex flex-col md:flex-row m-[0px] p-[0px] bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
        <div class="flex flex-col justify-center text-center">
    <span>
        <h1 class="text-[72px]">
            {{ 'a stange story' | titlecase }}
         </h1>
    </span>
        </div>
        <div class="flex flex-col justify-center text-center">
            <img src="{{imageSrc}}" alt="{{imageAlt}}" />
        </div>
    
        <span class="firefly" *ngFor="let dummyId of dummiesIds"></span>
    </div>
    <div class="container mx-auto">
        <h2 class="text-[#364F6B] m-4"> Règles</h2>

        <p class="text-[#364F6B] m-4">
            Il était une fois une histoire pas construite demandant qu'à être complétée par le talent d'une communauté bienveillante.
            La règle est simple, rejoind une histoire et laisse ton imagination faire le reste en écrivant la suite.
            La seule chose que l'on te demande est de ne pas mettre de contenus insultant, grossier, discriminant, sexués.
            A tout de suite...
        </p>
    
    </div>
    <div class="container h-[100px] mx-auto mt-[20px] content-btn">
        <h2 class="text-[#364F6B] m-4">Let's Play!</h2>
    </div>
    <div class="flex flex-row justify-center pb-[90px]">
        <button class=" rounded transition-all" (click)="onGoToLoginPage()"> Rejoindre une histoire</button>
        
    </div>

