<div (click)="goToStory(story._id)" class="m-4 text-white w-[300px] h-[500px] m-[0px] p-[10px] bg-gradient-to-b from-cyan-500 to-blue-500 rounded-lg cursor-pointer shadow-gray-800 hover:opacity-50 focus:bg-yellow-400 focus:outline-none focus:ring focus:ring-violet-300 hover:scale-[90%]">
    <div >
        <img src='../assets/lantern.svg' alt='app logo'>
    </div>
    <div class="text-center ">
        <h3 class="bold">{{story.title_story | titlecase}} </h3>
    </div>
    <div>
        <p>Langue: {{story.language_story | titlecase}}</p>
    </div>
    <div>
        <p>Nom de l'auteur: {{story.pseudo}}</p>
        <span class="text-[16px]">
            <fa-icon class="text-red-400" [icon]="faHeart"></fa-icon>
            {{100}}</span>
    </div>
    <div>
        <p>
            {{story.description_story}}
        </p>
    </div>
</div>
