p{
    font-family: 'Comic Neue', cursive;
}


.book::after {
    content: '📖';
    --emoji: '📘';
    animation-name: twoFrames;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes twoFrames {
    50% {
        content: var(--emoji);
    }
}