<div class=" rounded-lg w-full bg-[#FFF9CA] text-[#364F6B] shadow-2xl shadow-dark-500/100">
    <div class="flex flex-row w-full bg-[#FFDEB4]">

        <h3 class="font-bold">Edité par: {{'parcelStory.pseudo' }} le {{'parcelStory.createdDate_parcel | date: dd/MM/yyyy' }}</h3>

            </div>
    <div class="w-full">
<p class="first-line:uppercase first-line:tracking-widest
first-letter:text-7xl first-letter:font-bold first-letter:text-slate-900
first-letter:mr-3 first-letter:float-left break-all
"> {{parcelStory.content_parcel}}</p>
    </div>
    <div class="flex flex-row w-full h-[100px] m-4">
        <span (click)="onLike()">
            <fa-icon [ngClass]="boolHeart? 'text-[32px] text-red-400 transition-all ease-in-out origin-center rotate-45' :' text-[16px] text-gray-400 transition-all ease-in-out origin-center rotate-45 ' " [icon]="faHeart"></fa-icon>
        </span>
        <span class="origin-center font-semibold ">
            {{parcelStory.likes_parcel_count}}
        </span>
    </div>
</div>
